<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry, <%= @user.email %></h1>
    <p>
      An admin has deleted your account.<br>
    </p>
    <p>Sorry for the trouble.</p>
  </body>
</html>
